@using Common.Library
@model Tuple<List<Model.Entities.Reception>,int>

@{
    ViewData["Title"] = "Index";
    int row = 1;
    string query = " ";
    if (ViewBag.Search != null)
    {
        query = ViewBag.Search.ToString();
    }
}

<div class="container">
    <h1>لیست پذیرش</h1>
    <div class="mb-7">
        <form asp-area="Admin" asp-controller="Receptions" asp-action="Index" method="get">
            <div class="row align-items-center">

                <div class="col-lg-10 col-xl-10">
                    <div class="row align-items-center">
                        <div class="col-md-10 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" name="search" class="form-control" placeholder="جستجو..." id="kt_datatable_search_query">
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 mt-5 mt-lg-0">
                    <button type="submit" class="btn btn-light-primary px-6 font-weight-bold">
                        جستجو
                    </button>
                </div>

            </div>
        </form>
    </div>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-success">پذیرش جدید</a>
        <a asp-action="Index" class="btn btn-info">بروزرسانی</a>
    </p>
    <table class="table table-responsive ">
        <thead>
        <tr>
            <th>
                #
                </th>
            <th>
                پذیرش
            </th>
            <th>
                مشتری
            </th>

            <th>
                تاریخ
            </th>
            <th>
                تماس
            </th>

            <th>
                دستگاه
            </th>
            <th>
                سریال
            </th>
            <th>
                وضعیت
            </th>

            @*<th>
                شرح
            </th>*@
            <th>عملیات</th>
            <th>دستورات</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
            <tr>
                <td>
                    @row
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceptionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    <p class="text-primary font-weight-bold">
                        @item.InsertDate.ToShamsi()
                    </p>
                </td>
                <td>
                    <p class="text-info font-weight-bold">
                        @item.Customer.Contact
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @if (item.ReceptionStatus == ReceptionStatus.Done)
                    {
                        <a class="btn btn-icon-success font-weight-bold" title="تکمیل شده"><i class="fas fa-check-square"></i></a>   
                    }
                    else
                    {
                        <a class="btn  btn-icon-danger font-weight-bold" title="تکمیل نشده"><i class="fas fa-check-square"></i></a>   
                    }
                </td>

                @*<td>
                    @Html.Raw(item.Description)
                </td>*@
                <td>
                    <a asp-controller="Duties" asp-action="Create" title="خدمات" class="btn btn-icon-success font-weight-bold" asp-route-id="@item.ReceptionId"><i class="fas fa-calendar-plus"></i></a>
                    <a asp-action="Send" class="btn btn-icon-success font-weight-bold" title="پیامک" asp-route-id="@item.ReceptionId"><i class="fas fa-comment-alt"></i></a>
                    <a asp-action="Finish" class="btn btn-icon-dark font-weight-bold" title="اتمام" asp-route-id="@item.ReceptionId"><i class="fas fa-clipboard-list"></i></a>

                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-icon-warning font-weight-bold" title="ویرایش" asp-route-id="@item.ReceptionId"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-icon-info font-weight-bold" title="شرح" asp-route-id="@item.ReceptionId"><i class="fas fa-info-circle"></i></a>
                   @if (User.IsInRole("SuperAdmin"))
                   {
                       <a asp-action="Delete" class="btn btn-icon-danger font-weight-bold" title="حذف" asp-route-id="@item.ReceptionId"><i class="fas fa-trash"></i></a>

                   }

                </td>
            </tr>
                row++;
            }
        </tbody>
    </table>

</div>
<div class="container">
    @if (Model.Item2 > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.Item2; i++)
                {
                    <li class="page-item">
                        @if (!string.IsNullOrEmpty(query))
                        {
                            <a class="page-link" href="/Admin/Receptions/Index?pageId=@i&search=@query">
                                @i
                            </a>
                        }
                        else
                        {
                            <a class="page-link" href="/Admin/Receptions/Index?pageId=@i">
                                @i
                            </a>
                        }
                    </li>
                }


            </ul>
        </nav>
    }


</div>