@model IEnumerable<Model.Entities.Video>

<h4 class="card-title"> فیلم ها</h4>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success btn-sm">ثبت فیلم جدید</a>
</p>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            

            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.Raw(item.Description.Substring(0,15))
                </td>
               

                <td>
                    <a asp-action="Edit" class="btn btn-icon btn-warning btn-sm" title="ویرایش" asp-route-id="@item.VideoId"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-icon btn-info btn-sm" title="شرح" asp-route-id="@item.VideoId"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-icon btn-danger btn-sm" title="حذف" asp-route-id="@item.VideoId"><i class="fas fa-trash"></i></a>
                   @* <a asp-action="Send" class="btn btn-icon btn-success btn-sm" title="پیامک" asp-route-id="@item.VideoId"><i class="fas fa-comment-alt"></i></a>*@

                </td>
            </tr>
        }
    </tbody>
</table>

