@using Common.Library
@model Model.Entities.Cost



<div class="container">
    <h1>حذف</h1>

    <h3>آیا از حذف هزینه اطمینان دارید؟</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Model.Price.ToString("#,0") تومان

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CostDefineId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CostDefineId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.Description)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CostId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
        </form>
    </div>
</div>