@model Tuple<List<Model.Entities.CostDefine>, int>
@using Common.Library
@{
    ViewData["Title"] = "Index";
    int row = 1;
    string query = " ";
    if (ViewBag.Search != null)
    {
        query = ViewBag.Search.ToString();
    }

}

<div class="container">
    <h1>گروه هزینه</h1>
    <div class="mb-7">
        <form asp-area="Admin" asp-controller="CostDefine" asp-action="Index" method="get">
            <div class="row align-items-center">

                <div class="col-lg-10 col-xl-10">
                    <div class="row align-items-center">
                        <div class="col-md-10 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" name="search" class="form-control" placeholder="جستجو..." id="kt_datatable_search_query">
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 mt-5 mt-lg-0">
                    <button type="submit" class="btn btn-light-primary px-6 font-weight-bold">
                        جستجو
                    </button>
                </div>

            </div>
        </form>
    </div>
    <hr />
    <p>
        <a asp-area="Admin" asp-controller="CostDefine" asp-action="Create" class="btn btn-success">گروه جدید</a>
        <a asp-area="Admin" asp-controller="CostDefine" asp-action="Index" class="btn btn-info">بروزرسانی</a>
    </p>
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    گروه هزینه ها
                </th>
                <th>
                    بروزرسانی
                </th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>
                        @row
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <p class="font-weight-bold text-info">
                            @item.UpDateTime?.ToShamsi()
                        </p>

                    </td>

                    <td>
                        <td>
                            <a asp-action="Edit" class="btn btn-icon btn-warning btn-sm" title="ویرایش" asp-route-id="@item.CostDefineId"><i class="far fa-edit"></i></a>
                            <a asp-action="Details" class="btn btn-icon btn-info btn-sm" title="شرح" asp-route-id="@item.CostDefineId"><i class="fas fa-info-circle"></i></a>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <a asp-action="Delete" class="btn btn-icon btn-danger btn-sm" title="حذف" asp-route-id="@item.CostDefineId"><i class="fas fa-trash"></i></a>
                            }
                            @*<a asp-action="Send" class="btn btn-icon btn-success btn-sm" title="پیامک" asp-route-id="@item.CostDefineId"><i class="fas fa-comment-alt"></i></a>*@

                        </td>
                    </td>
                </tr>
                row++;
            }
        </tbody>
    </table>

</div>

<div class="container">
    @if (Model.Item2 > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.Item2; i++)
                {
                    <li class="page-item">
                        @if (!string.IsNullOrEmpty(query))
                        {
                            <a class="page-link" href="/Admin/CostDefine/Index?pageId=@i&search=@query">
                                @i
                            </a>
                        }
                        else
                        {
                            <a class="page-link" href="/Admin/CostDefine/Index?pageId=@i">
                                @i
                            </a>
                        }
                    </li>
                }


            </ul>
        </nav>
    }


</div>
