@using System.Text.Encodings.Web
@model IEnumerable<Model.Entities.Message>

@{
    ViewData["Title"] = "Index";
}


<h1 class="card-title">پیام ها</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">پیام جدید</a>
</p>
<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.Text)
                </td>
                <td>
                    <img class="img-thumbnail" src="~/img/Messages/@item.Image" alt="@item.Title" />
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-icon btn-warning btn-sm" title="ویرایش" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-icon btn-info btn-sm" title="شرح" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-icon btn-danger btn-sm" title="حذف" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                   @* <a asp-action="Send" class="btn btn-icon btn-success btn-sm" title="پیامک" asp-route-id="@item.DebtorId"><i class="fas fa-comment-alt"></i></a>*@

                </td>
            </tr>
        }
    </tbody>
</table>
