@using Common.Library
@model List<Sale>
@{
    ViewData["Title"] = "FollowOrder";
    int row = 1;
}

<div class="container">
    <h1>گزارش لیست پرداخت های شما</h1>
    <hr />

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    تاریخ
                </th>

                <th>
                    محصول
                </th>
                <th>
                    تعداد
                </th>
                <th>
                    قیمت
                </th>
                <th>
                    پرداخت
                </th>
                <th>
                    لینک
                </th>

                <th>
                    شرح
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @row
                    </td>
                    <td>
                        <p class="text-info font-weight-bold">
                            @item.SaleDate.ToShamsi()
                        </p>
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>

                    <td>
                        <p class="text-success font-weight-bold">
                            @item.SalePrice.ToString("#,0") تومان
                        </p>
                    </td>
                    <td>
                        <img src="~/img/PayType/@item.PayTypes.Image" class="img-thumbnail w-25" alt="www.storebit.ir" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortKey)
                    </td>

                    <td>
                        @Html.Raw(item.Description)
                    </td>


                </tr>
                row++;
            }
            <tr>
                <td colspan="4" class="text-black-50 font-weight-bold">مجموع</td>
                <td colspan="1" class="text-center font-weight-bold text-primary">@Model.Sum(c => c.SalePrice).ToString("#,0") تومان</td>
            </tr>
        </tbody>
    </table>
</div>
