@using Common.Library
@model Model.Entities.Reception

@{
    ViewData["Title"] = "Details";
    var listDefect = ViewData["Defects"] as List<DeviceDefect>;
    var listDuty = ViewData["Duty"] as List<Duty>;
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!--begin::نمونه-->
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header ribbon ribbon-clip ribbon-right">
                    <div class="ribbon-target" style="top: 12px;">
                        <span class="ribbon-inner bg-success"></span>پذیرش
                    </div>
                    <div class="card-title">
                        <h3 class="card-label">
                            اطلاعات پذیرش
                            @* <small>زیر عنوان</small>*@
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Serial)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Serial)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReceptionDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.ReceptionDate.ToShamsi()
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.Raw(Model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Customer)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.FullName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Customer.Contact)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Contact)
                        </dd>
                        <dt class="col-sm-2">
                            ثبت
                        </dt>
                        <dd class="col-sm-10">
                            @Model.InsertDate.ToShamsi()
                        </dd>
                        <dt class="col-sm-2">
                            بروزرسانی
                        </dt>
                        <dd class="col-sm-10">
                            @Model.UpDateTime?.ToShamsi()
                        </dd>
                    </dl>
                </div>
            </div>
            <!--end::Card-->


        </div>
        <div class="col-lg-6">

            <div class="card card-custom">
                <div class="card-header ribbon ribbon-clip ribbon-right">
                    <div class="ribbon-target" style="top: 12px;">
                        <span class="ribbon-inner bg-warning"></span>ایرادات
                    </div>
                    <div class="card-title">
                        <h3 class="card-label">
                            شرح ایرادات دستگاه به گفته مشتری
                            @*<small>زیر عنوان</small>*@
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var item in listDefect)
                    {
                        <div class="d-flex align-items-center mb-10">
                            <!--begin::سیمبل-->
                            <div class="symbol symbol-40 symbol-light-primary mr-5">
                                <i class=" fas fa-check text-info mr-5"></i>
                            </div>
                            <!--end::سیمبل-->
                            <!--begin::متن-->
                            <div class="d-flex flex-column font-weight-bold">
                                <span class="text-dark text-hover-primary mb-1 font-size-lg">@item.Defect.Name</span>
                                @* <span class="text-muted">مدیر پروژه</span>*@
                            </div>
                            <!--end::متن-->
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card card-custom gutter-b">
                <div class="card-header ribbon ribbon-clip ribbon-right">
                    <div class="ribbon-target" style="top: 12px;">
                        <span class="ribbon-inner bg-info"></span>خدمات
                    </div>
                    <div class="card-title">
                        <h3 class="card-label">لیست خدمات پذیرش :@Model.ReceptionId </h3>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::نمونه-->
                    <div class="example example-basic">
                        <div class="example-preview">
                            <div class="timeline timeline-justified timeline-4">
                                <div class="timeline-bar"></div>
                                <div class="timeline-items">
                                    @foreach (var item in listDuty)
                                    {
                                        <div class="timeline-item">
                                            <div class="timeline-badge">
                                                <div class="bg-danger"></div>
                                            </div>

                                            <div class="timeline-label">
                                                <span class="text-primary font-weight-bold">@item.ActionDate.ToShamsiDot()</span>
                                            </div>

                                            <div class="timeline-content">
                                                @item.Service.Name - @item.Price.ToString("#,0") تومان  - @Html.Raw(item.Description)

                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::نمونه-->

                </div>
            </div>
        </div>
    </div>
</div>




