
@using Model.Entities
@model IEnumerable<Model.Entities.ApplicationUser>

<div class="card-title m-1 p-1 ">
    <h4>کاربران</h4>
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-sm table-bordered table-striped table-responsive">
    <tr>
        <th>ID</th>
        <th>نام کامل</th>
        <th>ایمیل</th>
        <th>موبایل</th>
        <th>نام کاربری</th>

        <th>دستورات</th>
    </tr>

       @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.UserName</td>

                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@user.Id">ویرایش</a>
                        <button type="submit" class="btn btn-sm btn-danger">حذف</button>
                    </form>
                </td>
            </tr>
        }
    
</table>
<a class="btn btn-success" asp-action="Create">ثبت کاربر جدید</a>
