@model IEnumerable<Model.Entities.Ticket>
@using Common.Library
@{
    ViewData["Title"] = "Index";
}

<h1>لیست تیکت ها</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">ثبت تیکت جدید</a>
</p>
<table class="table table-striped table-responsive table-bordered">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>


        <th>دستورات</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <p class="font-weight-bold text-success"> 
                    @item.UpDateTime?.ToShamsiDot()
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.Raw(@item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>


            <td>
                <a asp-action="Edit" class="btn btn-icon btn-warning btn-sm" title="ویرایش" asp-route-id="@item.TicketId"><i class="far fa-edit"></i></a>
                <a asp-action="Details" class="btn btn-icon btn-info btn-sm" title="شرح" asp-route-id="@item.TicketId"><i class="fas fa-info-circle"></i></a>
                <a asp-action="Delete" class="btn btn-icon btn-danger btn-sm" title="حذف" asp-route-id="@item.TicketId"><i class="fas fa-trash"></i></a>
               @* <a asp-action="Send" class="btn btn-icon btn-success btn-sm" title="پیامک" asp-route-id="@item.TicketId"><i class="fas fa-comment-alt"></i></a>*@

            </td>
        </tr>
}
    </tbody>
</table>
