@using Common.Library

@{
    ViewData["Title"] = "Index";
    int sum = Convert.ToInt32(ViewData["SumCost"]);
    int todayCost = Convert.ToInt32(ViewData["TodaySumCost"]);
    long sumPay = Convert.ToInt64(ViewData["SumPay"]);
    int sms = Convert.ToInt32(ViewData["Sms"]);
    int saleCount = Convert.ToInt32(ViewData["SaleCount"]);
    int todaySaleCount = Convert.ToInt32(ViewData["TodaySaleCount"]);

    long sumSale = Convert.ToInt64(ViewData["SumSale"]);
    int todaySale = Convert.ToInt32(ViewData["TodaySale"]);
    int sumDebtor = Convert.ToInt32(ViewData["SumDebtor"]);
}

<div class="row mb-10">


    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            پذیرش تمام نشده
                        </a>
                        <p class="text-dark font-weight-bold">
                            تعداد کل پذیرش تکمیل نشده : <span class="text-danger font-weight-bold"> @ViewData["ReceptionNotYet"].ToString() </span>
                        </p>
                        <p class="text-dark font-weight-bold">
                            تعداد کل پذیرش تکمیل شده : <span class="text-info font-weight-bold"> @ViewData["ReceptionDone"].ToString() </span>
</p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Receptions" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-light-primary py-4 px-6">
                            پذیرش
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
   
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            مشتریان
                        </a>
                        <p class="text-dark font-weight-bold">
                            تعداد کل مشتریان ثبت شده : @ViewData["CustomerCount"].ToString()
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6">
                            مشتریان
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            درخواست ها
                        </a>
                        <p class="text-dark font-weight-bold">
                            تعداد کل درخواست تکمیل نشده : <span class="text-info">@ViewData["NotCompleteRequest"].ToString()</span> 
                        </p>
                        <p class="text-dark font-weight-bold">
                            تعداد کل درخواست ثبت شده : @ViewData["Request"].ToString()
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="RequestDevices" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6">
                            درخواست ها
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            تعداد فروش
                        </a>
                        <p class="text-dark font-weight-bold">
                            تعداد فروش روز : <span class="text-info"> @todaySaleCount.ToString() </span>
                        </p>
                        <p class="text-dark font-weight-bold">
                            تعداد کل فروش  : <span class="text-success"> @saleCount.ToString() </span>
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Sales" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6">
                            فروش
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
    
   

</div>
@if (User.IsInRole("SuperAdmin"))
{
<div class="row mb-10">

    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            پیام ها
                        </a>
                        <p class="text-dark font-weight-bold">
                            تعداد کل پیام های ارسالی : @sms.ToString()
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="AllMessages" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-light-info py-4 px-6">
                            پیام ها
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            هزینه ها
                        </a>
                        <p class="text-dark font-weight-bold">
                            جمع هزینه امروز : @todayCost.ToString("#,0") تومان
                        </p>
                        <p class="text-dark font-weight-bold">
                            جمع کل هزینه ها : @sum.ToString("#,0") تومان
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Cost" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-bg-warning py-4 px-6">
                            هزینه ها
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
    
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            پرداختی ها
                        </a>
                        <p class="text-dark font-weight-bold">
                            جمع کل مبالغ پرداختی ها : @sumPay.ToString("#,0") تومان
                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Payments" asp-action="Index" class="btn font-weight-bolder text-uppercase btn-bg-primary py-4 px-6">
                            پرداختی ها
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            جمع فروش
                        </a>
                        <p class="text-dark">
                            جمع فروش روز  : <span class="text-info font-weight-bold">@todaySale.ToString("#,0") تومان</span> 
                        </p>
                        <p class="text-dark font-weight-bold">
                            جمع کل فروش  : <span class="text-success font-weight-bold"> @sumSale.ToString("#,0") تومان </span>
</p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Report" asp-action="Sale" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6">
                            فروش
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-10">
        <!--begin::کال اوت-->
        <div class="card card-custom mb-2 bg-diagonal">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                    <div class="d-flex flex-column mr-5">
                        <a href="" class="h4 text-dark text-hover-primary mb-5">
                            بدهکاران
                        </a>
                        <p class="text-dark font-weight-bold">
                            جمع مبلغ بدهکاران : @sumDebtor.ToString("#,0") تومان

                        </p>
                    </div>
                    <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                        <a asp-area="Admin" asp-controller="Report" asp-action="Debtors" class="btn font-weight-bolder text-uppercase btn-light-primary py-4 px-6">
                            بدهکاران
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end::کال اوت-->

    </div>
</div>
}
