@model Model.Entities.Carousel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="card-title">شرح</h1>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Caption)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Caption)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LinkPage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LinkPage)
            </dd>

        </dl>

    </div>
    <div>
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">ویرایش اطلاعات</a>
        <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
    </div>
</div>

