@model IEnumerable<Model.Entities.Brand>


<h1 class="card-title">برندها</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">برند جدید</a>
</p>
<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>

                    <img src="~/img/Brand/@item.Image" alt="@item.Title" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.BrandId"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.BrandId"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.BrandId"><i class="fas fa-trash"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>

