@using Common.Library
@model IEnumerable<Model.Entities.Debtor>

<div class="container">
    <h1> بدهکاران</h1>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت بدهی اشخاص</a>
    </p>
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsertDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <p class="text-dark font-weight-bold">
                            @item.Price.ToString("#,0") تومان
                        </p>
                    </td>
                    <td>
                        <p class="text-primary ">
                            @item.InsertDate.ToShamsi()
                        </p>
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.DebtorId"><i class="far fa-edit"></i></a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.DebtorId"><i class="fas fa-info-circle"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.DebtorId"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>
