
@using Model.Entities
@model IEnumerable<Model.Entities.ApplicationUser>

<div class="card-title m-1 p-1 ">
    <h4>کاربران</h4>
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>UserName</th>

        <th>Commands</th>
    </tr>
    @if (Model.Any())
    {
        <tr>
            <td colspan="5" class="text-center">No User Accounts</td>
        </tr>
    }
    else
    {
        foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>

                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="Create">Create</a>
