@model IEnumerable<Model.Entities.Rule>

<h4 class="card-title"> روش ها</h4>
<hr />
<p>
    <a asp-area="Admin" asp-controller="Rules" asp-action="Create" class="btn btn-success">ثبت قوانین جدید</a>
</p>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Send)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Use)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacy)
            </th>

            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.Raw(@item.Sale.Substring(0,20))
                </td>
                <td >
                    @Html.Raw(@item.Send.Substring(0,20))
                </td>
                <td >
                    @Html.Raw(@item.Use.Substring(0,20))
                </td>
                <td >
                    @Html.Raw(@item.Payment.Substring(0,20))
                </td>
                <td >
                    @Html.Raw(@item.Privacy.Substring(0,20))
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-icon btn-warning btn-sm" title="ویرایش" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-icon btn-info btn-sm" title="شرح" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-icon btn-danger btn-sm" title="حذف" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    @*<a asp-action="Send" class="btn btn-icon btn-success btn-sm" title="پیامک" asp-route-id="@item.DebtorId"><i class="fas fa-comment-alt"></i></a>*@

                </td>
            </tr>
        }
    </tbody>
</table>

